<html><body>
<table border="2" cellpadding="0" cellspacing="0">
  <tr bgcolor="#6fffff">
    <th width="70px">No</th>
    <th>Registration No</th>
    <th>Model	</th>
    <th>Category</th>
    <th>Work For</th>
    <th>In Time</th>
    <th>Out Time</th>
 <th>Action</th>
 
  </tr>
  <% if(data.length){ 
    for(var i = 0;i < data.length;i++) { %>
  <tr>
    <td><%=(i+1)%></td>
    <td><%=data[i].vname%></td>
   <td><%=data[i].vmodel%></td>
   <td><%=data[i].category %></td>
   <td><%=data[i].workfor %></td>
   <td><%=data[i].intime %></td>
   <td><%=data[i].outtime %></td>
   <td><a href="#">Edit</a>/<a href="#">Modify</a></td>
   
  </tr>
  <% }
  }else{ %>
  <tr>
    <td colspan="3">No user</td>
  </tr>
<% } %>
</table>
</body></html>